<?xml version="1.0"  encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Freight Club Suite">

 <listeners>
		<listener class-name="core.CustomListeners" />
</listeners>
	
  <test  name="Login Test">
    <classes>
      <class name="testscripts.TestLoginTestNG"/>
      <class name="testscripts.TestAddLocationTestNG"/>
      <class name="testscripts.TestQuickQuoteTestNG"/>
    </classes>
  </test>  
</suite> 
